body{
	margin: 0px;
	padding: 0px;
}

div#content{
	
}

section#left{
	background-color: #7791DA;
	float: left;
	position: relative;
	width: 30%;
	height: 100%;
}

header#name{
	background-color: #5E5757;
	position:relative;
	width: 100%;
	height: 30px;
}

nav#menu{
	
}

footer#copywright{
	background-color: #5E5757;
	position:relative;
	width: 100%;
	height: 30px;
	padding-top: 10px;
}

article#principal{
	background-color: #CCCCCC;
	position: relative;
	float: left;
	width:70%;
	height: auto;
}

nav#controls{

}

figure#actualImage{
	
}

figcaption#caption{
	
}

footer#pagination{
	
}

